* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
/*img {
  max-height: 20rem;
}*/

.main-content {
  display: flex;
  flex-direction: column;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #3D7FCF;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0 0;
}

.nav-links li {
  font-size: 2rem;
  margin: 0 auto 0;
  color: white;
  min-width: 8rem;
}

li i {
  color: white;
}

#cart-count {
  display: inline-block;
}

#cart-count p {
  color: white;
  font-size: 1.5rem;
  padding-left: 0.25rem;
}

@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
  }
}

/**************** HERO *****************/

header img {
  max-height: 15rem;
  margin: 1em;
}

h1 .logo-w {
  font-size: 5rem;
  color: #3D7FCF;
}

h1 .company {
  color: #3D7FCF;
}

.logo-name {
  display: flex;
}

#scarfcat-head {
  margin: 0 1em 1em 2em;
}

@media (min-width: 1270px) {
  h1 {
    padding-left: 2rem;
  }
  h1 .logo-w {
    font-size: 14rem;
  }
  h1 .company {
    font-size: 7rem;
  }
}

@media (min-width: 970px) and (max-width: 1269px) {
  h1 .logo-w {
    font-size: 12rem;
  }
  h1 .company {
    font-size: 6rem;
  }
}

@media (min-width: 800px) and (max-width: 969px) {
  h1 .logo-w {
    font-size: 9rem;
  }
  h1 .company {
    font-size: 4rem;
  }
}

@media (min-width: 0px) and (max-width: 1269px) {
  #scarfcat-head {
    display: none;
  }
}

@media (min-width: 1270px) {
  #logo {
    display: none;
  }
  h1 {
    padding-left: 2rem;
  }
}


/**************** ASIDE ****************/

#mailing-list {
  float: left;
  width: 20%;
  margin: 1em 0 0 1em;
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0.75rem;
}

#products {
  width: 100%;
}

input:checked + label {
  color: red;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.item-container {
  display: flex;
  flex-direction: column;
}

.item-container img {
  width: 75%;
  align-self: center;
}

@media (max-width: 766px) {
  .item-container {
    border-bottom: 1px solid #A9A9A9;
    padding: 1rem 0 2rem;
  }
}
