body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

#mailing-list {
  float: left;
  width: 20%;
  margin: 1em 0 0 1em;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #3D7FCF;
  width: 100%;
  margin: 0;
}

.nav-links li {
  margin: 0 auto 0;
  color: white;
  min-width: 8rem;
}

li i {
  color: white;
}


/**************** HERO *****************/

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

#products {
  float: right;
  width: 80%;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.item-container {
  border: 1px solid gray;
  width: 33.3333333%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.item-container img {
  width: 75%;
}
